*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul{
    display: flex;
    flex-direction: row;
    justify-items: end;
    
}
li{
    flex-direction: row;
    flex: 1 1 auto;
    
}

.content-box{
    border: 1px solid blue;
    display: flex;
  }
  .box{
    width: 32.33%;
    height: 200px;
    border: 10px solid red;
    padding: 20px;
    margin: 0.5%;
    text-align: center;
   flex-direction: row;
  }